<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG">


    <test verbose="2" name="Default test">
    
        <classes>
            <class name="TestNG.TestNG.testNGdemo" />
        </classes>
        
    </test> 
    
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    
</suite> 